In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)
pd.set_option('display.expand_frame_repr',False)
pd.set_option('max_colwidth',-1)

In [3]:
df=pd.read_csv('wbbl_2211.csv')

In [4]:
df.tail()

       match_id   season  start_date                                                venue  innings  ball     batting_team     bowling_team       striker   non_striker        bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed  other_wicket_type  other_player_dismissed  power_surge
97822  1387221   2023/24  22-11-2023  Western Australia Cricket Association Ground, Perth  2        19.2  Perth Scorchers  Melbourne Stars  A King        CC Ainsworth  A Sutherland  1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0
97823  1387221   2023/24  22-11-2023  Western Australia Cricket Association Ground, Perth  2        19.3  Perth Scorchers  Melbourne Stars  CC Ainsworth  A King        A Sutherland  1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0
97824  1387221   2023/24  22-11-2023  Western Australia Cricket Association Ground, Perth  2        19.4  Perth Scorchers  Melbourne Stars  A King        CC Ainsworth  A Sutherland  1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0
97825  1387221   2023/24  22-11-2023  Western Australia Cricket Association Ground, Perth  2        19.5  Perth Scorchers  Melbourne Stars  CC Ainsworth  A King        A Sutherland  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0
97826  1387221   2023/24  22-11-2023  Western Australia Cricket Association Ground, Perth  2        19.6  Perth Scorchers  Melbourne Stars  CC Ainsworth  A King        A Sutherland  1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0

In [5]:
df_s9=df[df['season']=='2023/24']

In [6]:
power_surge=df[df['power_surge']==1]

In [7]:
df_s9_pp=df_s9[df_s9['ball']<4]

In [8]:
df_s9_mid=df_s9[(df_s9['ball']<15) &( df_s9['ball']>4) ]

In [9]:
df_s9_death=df_s9[df_s9['ball']>15]

In [10]:
p1=df_s9_pp.groupby(['batting_team'])['runs_off_bat','extras'].sum()

In [11]:
p2=df_s9_pp.groupby(['batting_team'])['ball','wides','noballs'].count()

In [12]:
pp_batting=p1.merge(p2,on='batting_team')

In [13]:
pp_batting['runs']=pp_batting['runs_off_bat']+pp_batting['extras']

In [14]:
pp_batting['balls']=pp_batting['ball']-pp_batting['wides']-pp_batting['noballs']

In [15]:
pp_batting['avg_run_rate']=pp_batting['runs']/pp_batting['balls']*6

In [16]:
pp_batting['wickets_lost']=df_s9_pp.groupby(['batting_team'])['player_dismissed'].count()

In [17]:
pp_batting['average']=pp_batting['runs']/pp_batting['wickets_lost']

In [18]:
pp_batting.sort_values(by='avg_run_rate',ascending=False)

                     runs_off_bat  extras  ball  wides  noballs  runs  balls  avg_run_rate  wickets_lost    average
batting_team
Brisbane Heat        369           32      331   17     2        401   312    7.711538      14            28.642857
Perth Scorchers      337           41      337   25     0        378   312    7.269231      9             42.000000
Sydney Sixers        325           42      336   22     2        367   312    7.057692      10            36.700000
Adelaide Strikers    303           26      305   17     0        329   288    6.854167      10            32.900000
Melbourne Renegades  299           20      304   13     3        319   288    6.645833      12            26.583333
Hobart Hurricanes    249           31      288   24     0        280   264    6.363636      10            28.000000
Sydney Thunder       260           17      273   8      1        277   264    6.295455      8             34.625000
Melbourne Stars      304           22      321   8      1        326   312    6.269231      15            21.733333

In [19]:
pp_batting.sort_values(by='average',ascending=False)

                     runs_off_bat  extras  ball  wides  noballs  runs  balls  avg_run_rate  wickets_lost    average
batting_team
Perth Scorchers      337           41      337   25     0        378   312    7.269231      9             42.000000
Sydney Sixers        325           42      336   22     2        367   312    7.057692      10            36.700000
Sydney Thunder       260           17      273   8      1        277   264    6.295455      8             34.625000
Adelaide Strikers    303           26      305   17     0        329   288    6.854167      10            32.900000
Brisbane Heat        369           32      331   17     2        401   312    7.711538      14            28.642857
Hobart Hurricanes    249           31      288   24     0        280   264    6.363636      10            28.000000
Melbourne Renegades  299           20      304   13     3        319   288    6.645833      12            26.583333
Melbourne Stars      304           22      321   8      1        326   312    6.269231      15            21.733333

In [20]:
#Perth Scorchers have scored runs at the second quickest rate (7.27) in the powerplay this season only behind the Heat(7.71)
#What is more fascinating is that they have lost the least number of wickets despite scoring at such a good rate and have
#the best average (42.00).

In [21]:
df_s9_pp_perth=df_s9_pp[df_s9_pp['batting_team']=='Perth Scorchers']

In [22]:
100*df_s9_pp_perth.groupby(['striker'])['runs_off_bat'].sum()/(df_s9_pp_perth.groupby(['striker'])['ball'].count()-df_s9_pp_perth.groupby(['striker'])['wides'].count())

striker
BL Mooney          116.000000
C Piparo           88.000000
L Winfield-Hill    121.428571
M Darke            126.666667
NR Sciver-Brunt    64.705882
SFM Devine         95.890411
dtype: float64

In [23]:
top_pp_strikers=(100*df_s9_pp.groupby(['striker'])['runs_off_bat'].sum()/(df_s9_pp.groupby(['striker'])['ball'].count()-df_s9_pp.groupby(['striker'])['wides'].count())).sort_values(ascending=False)

In [24]:
top_pp_strikers=pd.DataFrame(top_pp_strikers)

In [25]:
top_pp_strikers['balls']=df_s9_pp.groupby(['striker'])['ball'].count()-df_s9_pp.groupby(['striker'])['wides'].count()

In [26]:
top_pp_strikers=top_pp_strikers[top_pp_strikers['balls']>=30]

In [27]:
top_pp_strikers

                          0  balls
striker
EA Perry         145.454545  154
GM Harris        143.478261  115
TM McGrath       128.125000  32
M Darke          126.666667  30
KM Mack          123.239437  142
TT Beaumont      122.556391  133
L Winfield-Hill  121.428571  42
SIR Dunkley      118.461538  65
BL Mooney        116.000000  125
L Lee            114.705882  102
C Webb           114.705882  34
T Wilson         113.725490  102
AC Jayangani     105.000000  120
A Capsey         104.166667  72
G Redmayne       103.883495  103
ME Bouchier      100.000000  30
MM Lanning       100.000000  109
HK Matthews      98.809524   84
SFM Devine       95.890411   73
EJ Villani       92.134831   89
L Wolvaardt      82.352941   102
BF Smith         78.181818   55
SW Bates         63.291139   79
M Brown          55.882353   34

In [28]:
df_s9_pp_perth.groupby(['striker'])['player_dismissed'].count()

striker
BL Mooney          3
C Piparo           2
L Winfield-Hill    0
M Darke            2
NR Sciver-Brunt    0
SFM Devine         2
Name: player_dismissed, dtype: int64

In [29]:
df_s9_pp_perth.groupby(['striker'])['runs_off_bat'].sum()

striker
BL Mooney          145
C Piparo           22
L Winfield-Hill    51
M Darke            38
NR Sciver-Brunt    11
SFM Devine         70
Name: runs_off_bat, dtype: int64

In [30]:
# 3 Scorchers in the top 10 powerplay strike rates is not a bad return by any means, with Beth Mooney preserving her wicket
# and piercing the gaps and batters like Maddy Darke and Winfield-Hill playing aggresively.

In [31]:
m1=df_s9_mid.groupby(['batting_team'])['runs_off_bat','extras'].sum()

In [32]:
m2=df_s9_mid.groupby(['batting_team'])['ball','wides','noballs'].count()

In [33]:
m3=df_s9_mid.groupby(['batting_team'])['wicket_type'].count()

In [34]:
mid_batting=m1.merge(m2,on='batting_team')

In [35]:
mid_batting['runs']=mid_batting['runs_off_bat']+mid_batting['extras']

In [36]:
mid_batting['balls']=mid_batting['ball']-mid_batting['wides']-mid_batting['noballs']

In [37]:
mid_batting['avg_run_rate']=mid_batting['runs']/mid_batting['balls']*6

In [38]:
mid_batting=mid_batting.merge(m3,on='batting_team')

In [39]:
mid_batting['balls/wicket']=mid_batting['ball']/mid_batting['wicket_type']

In [40]:
mid_batting

                     runs_off_bat  extras  ball  wides  noballs  runs  balls  avg_run_rate  wicket_type  balls/wicket
batting_team
Adelaide Strikers    831           35      775   24     2        866   749    6.937250      32           24.218750
Brisbane Heat        1084          43      880   17     5        1127  858    7.881119      41           21.463415
Hobart Hurricanes    765           47      711   30     3        812   678    7.185841      44           16.159091
Melbourne Renegades  850           48      818   22     4        898   792    6.803030      41           19.951220
Melbourne Stars      822           47      799   20     2        869   777    6.710425      47           17.000000
Perth Scorchers      1094          75      868   28     4        1169  836    8.389952      38           22.842105
Sydney Sixers        945           47      888   28     2        992   858    6.937063      55           16.145455
Sydney Thunder       825           63      741   27     1        888   713    7.472651      28           26.464286

In [41]:
#Perth Scorchers are miles ahead in the middle overs scoring, scoring at 8.4 runs per over when the next best has been 7.9.
#They are also a close third when it in the balls/wicket metric , losing a wicket once in 23 balls behind: Thunder (26) and 
#Strikers (24).

In [42]:
df_s9_mid_perth=df_s9_mid[df_s9_mid['batting_team']=='Perth Scorchers']

In [43]:
perth_mid_bat=pd.DataFrame(df_s9_mid_perth.groupby(['striker'])['runs_off_bat'].sum())

In [44]:
perth_mid_bat=perth_mid_bat.merge(pd.DataFrame(df_s9_mid_perth.groupby(['striker'])['ball'].count()-df_s9_mid_perth.groupby(['striker'])['wides'].count()),on='striker')

In [45]:
perth_mid_bat.rename(columns={0:'balls'},inplace=True)

In [46]:
perth_mid_bat['strike_rate']=perth_mid_bat['runs_off_bat']/perth_mid_bat['balls']*100

In [47]:
perth_mid_bat['dismissals']=df_s9_mid_perth.groupby(['striker'])['player_dismissed'].count()

In [48]:
perth_mid_bat['average']=perth_mid_bat['runs_off_bat']/perth_mid_bat['dismissals']

In [49]:
perth_mid_bat

                 runs_off_bat  balls  strike_rate  dismissals    average
striker
A King           0             1      0.000000     0          NaN
AE Jones         165           121    136.363636   3           55.000000
AL Edgar         50            68     73.529412    3           16.666667
BL Mooney        332           208    159.615385   6           55.333333
C Piparo         20            23     86.956522    3           6.666667
L Griffith       7             8      87.500000    2           3.500000
L Winfield-Hill  19            26     73.076923    3           6.333333
M Darke          114           120    95.000000    8           14.250000
NR Sciver-Brunt  84            72     116.666667   4           21.000000
P Cleary         7             4      175.000000   0           inf
SFM Devine       296           189    156.613757   6           49.333333

In [50]:
all_mid_bat=pd.DataFrame(df_s9_mid.groupby(['striker'])['runs_off_bat'].sum())

In [51]:
all_mid_bat=all_mid_bat.merge(pd.DataFrame(df_s9_mid.groupby(['striker'])['ball'].count()-df_s9_mid.groupby(['striker'])['wides'].count()),on='striker')

In [52]:
all_mid_bat.rename(columns={0:'balls'},inplace=True)

In [53]:
all_mid_bat['strike_rate']=all_mid_bat['runs_off_bat']/all_mid_bat['balls']*100

In [54]:
all_mid_bat=all_mid_bat[all_mid_bat['balls']>=50]

In [55]:
all_mid_bat.sort_values(by='strike_rate',ascending=False,inplace=True)

In [56]:
all_mid_bat.reset_index(inplace=True)

In [57]:
all_mid_bat

            striker  runs_off_bat  balls  strike_rate
0   GM Harris        158           85     185.882353
1   BL Mooney        332           208    159.615385
2   SFM Devine       296           189    156.613757
3   L Lee            142           91     156.043956
4   BAM Heath        83            55     150.909091
5   AC Jayangani     309           210    147.142857
6   NE Stalenberg    88            63     139.682540
7   AE Jones         165           121    136.363636
8   MM Lanning       138           105    131.428571
9   P Litchfield     163           125    130.400000
10  EJ Villani       186           144    129.166667
11  G Redmayne       154           121    127.272727
12  HK Matthews      124           99     125.252525
13  M du Preez       261           209    124.880383
14  KM Mack          213           172    123.837209
15  TT Beaumont      115           96     119.791667
16  JE Dooley        92            77     119.480519
17  L Wolvaardt      169           143    118.181818
18  EA Perry         183           156    117.307692
19  A Gardner        231           197    117.258883
20  CL Tryon         204           174    117.241379
21  ME Bouchier      158           135    117.037037
22  NR Sciver-Brunt  84            72     116.666667
23  AC Kerr          175           154    113.636364
24  T Wilson         126           111    113.513514
25  G Wareham        134           121    110.743802
26  R Johnston       57            52     109.615385
27  G Voll           118           108    109.259259
28  TM McGrath       147           137    107.299270
29  CR Knott         64            60     106.666667
30  A Capsey         201           189    106.349206
31  M Brown          86            82     104.878049
32  H Kaur           241           232    103.879310
33  M Penna          84            81     103.703704
34  SIR Dunkley      98            95     103.157895
35  A Sutherland     141           137    102.919708
36  EA Burns         143           139    102.877698
37  HC Knight        103           101    101.980198
38  BE Patterson     164           162    101.234568
39  NJ Carey         97            100    97.000000
40  SW Bates         53            55     96.363636
41  JL Jonassen      52            54     96.296296
42  M Darke          114           120    95.000000
43  H Graham         65            71     91.549296
44  M Kapp           64            78     82.051282
45  C Webb           56            70     80.000000
46  A Learoyd        39            51     76.470588
47  AL Edgar         50            68     73.529412
48  JE Duffin        46            66     69.696970
49  BF Smith         47            75     62.666667

In [58]:
#Again, the Scorchers have 3 batters in the top 10(Mooney, Devine, Amy Jones).Mooney, who had a sedate start in the pp
#has now sets herself free to attack.Also, despite their high strike rates, it is difficuilt to dislodge Devine and Jones 
#Both average in excess of 55 in this phase.

In [59]:
s1=power_surge.groupby(['batting_team'])['runs_off_bat','extras'].sum()

In [60]:
s2=power_surge.groupby(['batting_team'])['ball','wides','noballs'].count()

In [61]:
surge_batting=s1.merge(s2,on='batting_team')

In [62]:
surge_batting['runs']=surge_batting['runs_off_bat']+surge_batting['extras']

In [63]:
surge_batting['balls']=surge_batting['ball']-surge_batting['wides']-surge_batting['noballs']

In [64]:
surge_batting['avg_surge_runs']=surge_batting['runs']/surge_batting['balls']*12

In [65]:
surge_batting

                     runs_off_bat  extras  ball  wides  noballs  runs  balls  avg_surge_runs
batting_team
Adelaide Strikers    137           2       102   2      0        139   100    16.680000
Brisbane Heat        232           8       159   2      1        240   156    18.461538
Hobart Hurricanes    131           10      101   5      0        141   96     17.625000
Melbourne Renegades  206           6       149   4      1        212   144    17.666667
Melbourne Stars      216           5       136   1      3        221   132    20.090909
Perth Scorchers      271           22      160   6      2        293   152    23.131579
Sydney Sixers        190           7       151   4      0        197   147    16.081633
Sydney Thunder       202           12      112   3      1        214   108    23.777778

In [66]:
# The Scorchers have shone in this phase as well and are the second most prolific team in this phase with an average of 
# 23.13 runs in this phase, marginally behind Sydney Thunder's average of 23.78.

In [67]:
surge_perth=power_surge[power_surge['batting_team']=='Perth Scorchers']

In [68]:
perth_surge_bat=pd.DataFrame(surge_perth.groupby(['striker'])['runs_off_bat'].sum())

In [69]:
perth_surge_bat=perth_surge_bat.merge(pd.DataFrame(surge_perth.groupby(['striker'])['ball'].count()-surge_perth.groupby(['striker'])['wides'].count()),on='striker')

In [70]:
perth_surge_bat.rename(columns={0:'balls'},inplace=True)

In [71]:
perth_surge_bat['strike_rate']=perth_surge_bat['runs_off_bat']/perth_surge_bat['balls']*100

In [72]:
perth_surge_bat

                 runs_off_bat  balls  strike_rate
striker
A King           9             17     52.941176
AE Jones         46            26     176.923077
AL Edgar         6             10     60.000000
BL Mooney        40            23     173.913043
C Piparo         11            7      157.142857
CC Ainsworth     1             1      100.000000
L Griffith       0             1      0.000000
L Mills          13            8      162.500000
M Darke          16            7      228.571429
NR Sciver-Brunt  11            8      137.500000
P Cleary         11            7      157.142857
SFM Devine       107           39     274.358974

In [73]:
surge_all_batters=pd.DataFrame(power_surge.groupby(['striker'])['runs_off_bat'].sum())

In [74]:
surge_all_batters['balls']=power_surge.groupby(['striker'])['ball'].count()-power_surge.groupby(['striker'])['wides'].count()

In [75]:
surge_all_batters=surge_all_batters[surge_all_batters['balls']>=20]

In [76]:
surge_all_batters['strike_rate']=surge_all_batters['runs_off_bat']/surge_all_batters['balls']*100

In [77]:
surge_all_batters.sort_values(by='strike_rate',ascending=False,inplace=True)

In [78]:
surge_all_batters

              runs_off_bat  balls  strike_rate
striker
SFM Devine    107           39     274.358974
HC Knight     50            25     200.000000
AC Kerr       39            22     177.272727
AE Jones      46            26     176.923077
BL Mooney     40            23     173.913043
CL Tryon      43            25     172.000000
G Wareham     74            48     154.166667
H Kaur        52            34     152.941176
M du Preez    35            23     152.173913
P Litchfield  40            27     148.148148
A Sutherland  58            40     145.000000
BE Patterson  28            22     127.272727
M Carmichael  34            29     117.241379
G Voll        42            36     116.666667
M Brown       40            36     111.111111
M Penna       17            21     80.952381

In [79]:
#Scorchers have 3 batters with a surge strike rate greater than 175, with Devine's 274.36 being the highest in this season
#Devine has been a complete surge monster this season.

In [80]:
death_batting=df_s9_death.groupby(['batting_team'])['runs_off_bat','extras'].sum()

In [81]:
death_batting=death_batting.merge(pd.DataFrame(df_s9_death.groupby(['batting_team'])['ball','wides','noballs'].count()),on='batting_team')

In [82]:
death_batting['runs']=death_batting['runs_off_bat']+death_batting['extras']

In [83]:
death_batting['balls']=death_batting['ball']-death_batting['wides']-death_batting['noballs']

In [84]:
death_batting['avg_run_rate']=death_batting['runs']/death_batting['balls']*6

In [85]:
death_batting

                     runs_off_bat  extras  ball  wides  noballs  runs  balls  avg_run_rate
batting_team
Adelaide Strikers    347           10      255   7      1        357   247    8.672065
Brisbane Heat        533           21      338   9      1        554   328    10.134146
Hobart Hurricanes    259           11      202   3      0        270   199    8.140704
Melbourne Renegades  531           24      373   11     3        555   359    9.275766
Melbourne Stars      421           17      339   10     4        438   325    8.086154
Perth Scorchers      510           33      343   7      1        543   335    9.725373
Sydney Sixers        441           36      372   10     3        477   359    7.972145
Sydney Thunder       422           24      269   7      1        446   261    10.252874

In [86]:
# Scorchers do tail off in the final 5 and score at 9.73 per over (3rd highest in this season) but powerplay, middle overs 
# and the surge has been so good that this minor blip has not affected them too much.

In [87]:
df_s9_death_perth=df_s9_death[df_s9_death['batting_team']=='Perth Scorchers']

In [88]:
perth_death_batting=pd.DataFrame(df_s9_death_perth.groupby(['striker'])['runs_off_bat'].sum())

In [89]:
perth_death_batting['balls']=df_s9_death_perth.groupby(['striker'])['ball'].count()-df_s9_death_perth.groupby(['striker'])['wides'].count()

In [90]:
perth_death_batting['strike_rate']=perth_death_batting['runs_off_bat']/perth_death_batting['balls']*100

In [91]:
perth_death_batting

                 runs_off_bat  balls  strike_rate
striker
A King           93            75     124.000000
AE Jones         97            52     186.538462
AL Edgar         24            18     133.333333
BL Mooney        61            34     179.411765
C Piparo         26            16     162.500000
CC Ainsworth     13            15     86.666667
L Griffith       2             2      100.000000
L Mills          19            18     105.555556
M Darke          22            11     200.000000
NR Sciver-Brunt  46            26     176.923077
P Cleary         12            19     63.157895
SFM Devine       80            42     190.476190
T Peschel        15            8      187.500000

In [92]:
all_death_batting=pd.DataFrame(df_s9_death.groupby(['striker'])['runs_off_bat'].sum())

In [93]:
all_death_batting['balls']=df_s9_death.groupby(['striker'])['ball'].count()-df_s9_death.groupby(['striker'])['wides'].count()

In [94]:
all_death_batting['strike_rate']=all_death_batting['runs_off_bat']/all_death_batting['balls']*100

In [95]:
all_death_batting=all_death_batting[all_death_batting['balls']>=25]

In [96]:
all_death_batting.sort_values(by='strike_rate',ascending=False,inplace=True)

In [97]:
all_death_batting.reset_index(inplace=True)

In [98]:
all_death_batting

            striker  runs_off_bat  balls  strike_rate
0   JL Jonassen      91            46     197.826087
1   CL Tryon         73            37     197.297297
2   DR Gibson        69            35     197.142857
3   P Litchfield     77            40     192.500000
4   SFM Devine       80            42     190.476190
5   AE Jones         97            52     186.538462
6   CR Knott         149           81     183.950617
7   NE Stalenberg    47            26     180.769231
8   BL Mooney        61            34     179.411765
9   SW Bates         52            29     179.310345
10  NR Sciver-Brunt  46            26     176.923077
11  NJ Carey         44            25     176.000000
12  JE Duffin        55            32     171.875000
13  G Wareham        147           87     168.965517
14  HC Knight        108           66     163.636364
15  M du Preez       47            29     162.068966
16  A Sutherland     105           65     161.538462
17  A Learoyd        64            40     160.000000
18  H Kaur           73            46     158.695652
19  SJ Coyte         82            53     154.716981
20  H Graham         42            28     150.000000
21  BE Patterson     95            67     141.791045
22  C Webb           58            41     141.463415
23  G Prestwidge     39            28     139.285714
24  M Hinkley        34            25     136.000000
25  SJ Johnson       62            47     131.914894
26  N Faltum         59            45     131.111111
27  M Brown          76            59     128.813559
28  M Carmichael     85            67     126.865672
29  A King           93            75     124.000000
30  JE Dooley        47            38     123.684211
31  KJ Garth         64            52     123.076923
32  G Voll           42            37     113.513514
33  M Penna          60            53     113.207547
34  SIR Dunkley      28            25     112.000000
35  BAM Heath        34            31     109.677419
36  H Silver-holmes  41            42     97.619048
37  L Cheatle        22            25     88.000000
38  K Peterson       49            57     85.964912
39  KM Pelle         32            40     80.000000

In [99]:
#It has been a combined effort by the Scorchers' batters in the death and their engine room of Devine, Jones, Sciver-Brunt,
#Mooney and useful contributions from Alana King have been instrumental in them getting a good finish.

In [101]:
df_edgar=df_s9[df_s9['bowler']=='AL Edgar']

In [102]:
sum(df_edgar['runs_off_bat']),len(df_edgar),len(df_edgar[df_edgar['wicket_type'].notnull()])

(279, 266, 21)

In [103]:
edgar_economy=sum(df_edgar['runs_off_bat'])/(len(df_edgar)-len(df_edgar[df_edgar['wides']>=1]))*6
edgar_average=sum(df_edgar['runs_off_bat'])/len(df_edgar[df_edgar['wicket_type'].notnull()])
edgar_sr=(len(df_edgar)-len(df_edgar[df_edgar['wides']>=1]))/len(df_edgar[df_edgar['wicket_type'].notnull()])

In [104]:
edgar_economy,edgar_average,edgar_sr

(6.389312977099237, 13.285714285714286, 12.476190476190476)

In [105]:
perth_bowling=df_s9[df_s9['bowling_team']=='Perth Scorchers']

In [106]:
sum(perth_bowling['runs_off_bat']),len(perth_bowling),len(perth_bowling[perth_bowling['wicket_type'].notnull()])

(1781, 1571, 93)

In [107]:
perth_economy=sum(perth_bowling['runs_off_bat'])/(len(perth_bowling)-len(perth_bowling[perth_bowling['wides']>=1])-len(perth_bowling[perth_bowling['noballs']>=1]))*6

In [108]:
perth_economy

7.152610441767068

In [109]:
all_bowlers=df_s9.groupby(['bowler'])['runs_off_bat','wides','noballs'].sum()

In [110]:
all_balls=df_s9.groupby(['bowler'])['ball','wides','noballs'].count()

In [111]:
all_bowlers=all_bowlers.merge(all_balls,on='bowler')

In [112]:
all_bowlers['runs_given']=all_bowlers['runs_off_bat']+all_bowlers['wides_x']+all_bowlers['noballs_x']
all_bowlers['balls']=all_bowlers['ball']-all_bowlers['wides_y']-all_bowlers['noballs_y']

In [113]:
all_bowlers['economy']=all_bowlers['runs_given']/all_bowlers['balls']*6

In [114]:
all_bowlers['wickets']=df_s9.groupby(['bowler'])['wicket_type'].count()

In [115]:
all_bowlers.sort_values(by='wickets',ascending=False)

              runs_off_bat  wides_x  noballs_x  ball  wides_y  noballs_y  runs_given  balls    economy  wickets
bowler
S Day         309           15.0     0.0        288   6        0          324.0       282    6.893617   27
L Cheatle     326           8.0      0.0        298   7        0          334.0       291    6.886598   24
A Sutherland  325           14.0     4.0        303   13       4          343.0       286    7.195804   23
AL Edgar      279           4.0      0.0        266   4        0          283.0       262    6.480916   21
A Gardner     360           4.0      0.0        277   3        0          364.0       274    7.970803   19
...           ...           ...      ...        ...  ..       ..            ...       ...         ...   ..
RK O'Donnell  12            0.0      0.0        6     0        0          12.0        6      12.000000  0
C Webb        32            0.0      0.0        18    0        0          32.0        18     10.666667  0
BF Smith      35            4.0      0.0        32    2        0          39.0        30     7.800000   0
LK Hamilton   46            7.0      0.0        37    7        0          53.0        30     10.600000  0
O Henry       10            0.0      0.0        6     0        0          10.0        6      10.000000  0

[72 rows x 10 columns]

In [116]:
all_bowlers=all_bowlers[all_bowlers['balls']>=100]

In [117]:
all_bowlers.sort_values(by='economy')

                runs_off_bat  wides_x  noballs_x  ball  wides_y  noballs_y  runs_given  balls   economy  wickets
bowler
A Wellington    220           4.0      0.0        238   4        0          224.0       234    5.743590  19
KJ Garth        283           18.0     0.0        307   14       0          301.0       293    6.163823  7
AC Mushangwe    250           3.0      0.0        243   3        0          253.0       240    6.325000  15
ML Schutt       269           10.0     2.0        275   9        2          281.0       264    6.386364  18
S Ismail        244           15.0     0.0        257   14       0          259.0       243    6.395062  10
TM McGrath      168           2.0      0.0        161   2        0          170.0       159    6.415094  8
AL Edgar        279           4.0      0.0        266   4        0          283.0       262    6.480916  21
AC Jayangani    182           4.0      2.0        178   3        2          188.0       173    6.520231  9
A King          294           4.0      0.0        277   4        0          298.0       273    6.549451  15
LCN Smith       235           2.0      0.0        218   2        0          237.0       216    6.583333  10
M Strano        245           0.0      0.0        222   0        0          245.0       222    6.621622  13
SL Bates        260           8.0      0.0        247   7        0          268.0       240    6.700000  5
G Voll          192           11.0     0.0        189   10       0          203.0       179    6.804469  5
L Cheatle       326           8.0      0.0        298   7        0          334.0       291    6.886598  24
S Day           309           15.0     0.0        288   6        0          324.0       282    6.893617  27
HC Knight       119           2.0      0.0        104   2        0          121.0       102    7.117647  5
A Sutherland    325           14.0     4.0        303   13       4          343.0       286    7.195804  23
T Peschel       143           8.0      8.0        148   8        8          159.0       132    7.227273  6
CC Ainsworth    230           16.0     0.0        220   16       0          246.0       204    7.235294  17
JL Barsby       158           2.0      0.0        134   2        0          160.0       132    7.272727  4
MH Illingworth  116           7.0      1.0        109   6        1          124.0       102    7.294118  3
M Kapp          278           11.0     0.0        245   11       0          289.0       234    7.410256  9
S Glenn         128           0.0      0.0        102   0        0          128.0       102    7.529412  6
Sara Kennedy    155           26.0     0.0        164   20       0          181.0       144    7.541667  4
G Wareham       337           10.0     0.0        279   6        0          347.0       273    7.626374  10
CR Knott        237           8.0      0.0        199   7        0          245.0       192    7.656250  10
ML Gibson       166           3.0      0.0        135   3        0          169.0       132    7.681818  5
AC Kerr         229           2.0      0.0        182   2        0          231.0       180    7.700000  10
HK Matthews     319           3.0      0.0        252   2        0          322.0       250    7.728000  13
NJ Carey        202           6.0      1.0        169   6        1          209.0       162    7.740741  12
HJ Darlington   285           1.0      2.0        225   1        2          288.0       222    7.783784  19
CL Tryon        259           6.0      0.0        210   6        0          265.0       204    7.794118  9
H Graham        283           13.0     2.0        237   7        2          298.0       228    7.842105  18
A Smith         165           7.0      1.0        140   7        1          173.0       132    7.863636  6
A Capsey        232           8.0      0.0        187   5        0          240.0       182    7.912088  9
SJ Johnson      199           4.0      3.0        163   4        3          206.0       156    7.923077  7
DR Gibson       205           5.0      3.0        169   5        3          213.0       161    7.937888  8
P Cleary        255           13.0     2.0        214   8        2          270.0       204    7.941176  11
A Gardner       360           4.0      0.0        277   3        0          364.0       274    7.970803  19
NM Hancock      336           29.0     3.0        306   26       3          368.0       277    7.971119  16
M Brown         180           5.0      0.0        142   4        0          185.0       138    8.043478  8
CG Sippel       346           16.0     0.0        285   15       0          362.0       270    8.044444  12
SJ Coyte        289           25.0     1.0        245   10       1          315.0       234    8.076923  14
EA Perry        135           10.0     0.0        113   6        0          145.0       107    8.130841  13
JL Jonassen     362           4.0      0.0        270   4        0          366.0       266    8.255639  18
SFM Devine      271           15.0     1.0        220   15       1          287.0       204    8.441176  12
SK Moloney      288           9.0      0.0        218   7        0          297.0       211    8.445498  3
E Hayward       184           2.0      0.0        134   2        0          186.0       132    8.454545  5
G Prestwidge    209           9.0      0.0        154   9        0          218.0       145    9.020690  7
L Mills         216           1.0      1.0        145   1        1          218.0       143    9.146853  8

In [118]:
#Amy Edgar has taken 20 wickets this season at an economy of 6.48 when Scorchers' combined economy has been 7.15
#Also she is the 4th highest wicket taker in this tournament at the time of writing and has the 7th best economy in the 
#tournaments which is excellent for a medium pacer in a tournament where run scoring has seen a big jump from the last season.
#and her wickets have not been concentrated in a single phase of the innings.
#Although she has generally bowled in the later stages of the innings, her wickets have come in the powerplay, middle overs
#death and she has also started to bowl and take wickets in the surge.

In [119]:
edgar_wickets=df_edgar[df_edgar['wicket_type'].notnull()]

In [120]:
edgar_wickets.drop([96301],axis=0,inplace=True)

In [121]:
edgar_wickets

       match_id   season  start_date                                                venue  innings  ball         batting_team     bowling_team       striker   non_striker    bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed  other_wicket_type  other_player_dismissed  power_surge
87348  1387176   2023/24  22-10-2023  North Sydney Oval, Sydney                            1        12.2  Brisbane Heat        Perth Scorchers  JL Jonassen   GM Harris     AL Edgar  0             0      NaN    NaN      NaN   NaN      NaN       bowled      JL Jonassen     NaN                NaN                      0.0
87376  1387176   2023/24  22-10-2023  North Sydney Oval, Sydney                            1        16.6  Brisbane Heat        Perth Scorchers  CR Knott      GM Harris     AL Edgar  0             0      NaN    NaN      NaN   NaN      NaN       bowled      CR Knott        NaN                NaN                      0.0
87393  1387176   2023/24  22-10-2023  North Sydney Oval, Sydney                            1        19.3  Brisbane Heat        Perth Scorchers  M Hinkley     GM Harris     AL Edgar  0             0      NaN    NaN      NaN   NaN      NaN       caught      M Hinkley       NaN                NaN                      0.0
88604  1387181   2023/24  25-10-2023  Western Australia Cricket Association Ground, Perth  1        19.5  Hobart Hurricanes    Perth Scorchers  A Smith       S Ismail      AL Edgar  0             0      NaN    NaN      NaN   NaN      NaN       stumped     A Smith         NaN                NaN                      0.0
88605  1387181   2023/24  25-10-2023  Western Australia Cricket Association Ground, Perth  1        19.6  Hobart Hurricanes    Perth Scorchers  ML Gibson     S Ismail      AL Edgar  0             0      NaN    NaN      NaN   NaN      NaN       bowled      ML Gibson       NaN                NaN                      0.0
90440  1387189   2023/24  31-10-2023  Western Australia Cricket Association Ground, Perth  2        7.6   Sydney Sixers        Perth Scorchers  SW Bates      EA Perry      AL Edgar  0             0      NaN    NaN      NaN   NaN      NaN       caught      SW Bates        NaN                NaN                      0.0
90453  1387189   2023/24  31-10-2023  Western Australia Cricket Association Ground, Perth  2        10.1  Sydney Sixers        Perth Scorchers  EA Burns      EA Perry      AL Edgar  0             0      NaN    NaN      NaN   NaN      NaN       bowled      EA Burns        NaN                NaN                      0.0
90476  1387189   2023/24  31-10-2023  Western Australia Cricket Association Ground, Perth  2        13.5  Sydney Sixers        Perth Scorchers  CL Tryon      EA Perry      AL Edgar  0             0      NaN    NaN      NaN   NaN      NaN       caught      CL Tryon        NaN                NaN                      1.0
90501  1387189   2023/24  31-10-2023  Western Australia Cricket Association Ground, Perth  2        17.5  Sydney Sixers        Perth Scorchers  M Carmichael  KM Pelle      AL Edgar  0             0      NaN    NaN      NaN   NaN      NaN       caught      M Carmichael    NaN                NaN                      0.0
91257  1387193   2023/24  03-11-2023  Western Australia Cricket Association Ground, Perth  1        2.5   Melbourne Renegades  Perth Scorchers  C Webb        HK Matthews   AL Edgar  0             0      NaN    NaN      NaN   NaN      NaN       caught      C Webb          NaN                NaN                      0.0
92311  1387197   2023/24  05-11-2023  Western Australia Cricket Association Ground, Perth  2        8.6   Adelaide Strikers    Perth Scorchers  TM McGrath    KM Mack       AL Edgar  0             0      NaN    NaN      NaN   NaN      NaN       caught      TM McGrath      NaN                NaN                      0.0
93233  1387202   2023/24  09-11-2023  Allan Border Field, Brisbane                         2        10.1  Brisbane Heat        Perth Scorchers  JL Jonassen   G Redmayne    AL Edgar  0             0      NaN    NaN      NaN   NaN      NaN       caught      JL Jonassen     NaN                NaN                      0.0
93796  1387205   2023/24  11-11-2023  Junction Oval, Melbourne                             1        3.7   Melbourne Renegades  Perth Scorchers  HK Matthews   TT Beaumont   AL Edgar  0             0      NaN    NaN      NaN   NaN      NaN       caught      HK Matthews     NaN                NaN                      0.0
93843  1387205   2023/24  11-11-2023  Junction Oval, Melbourne                             1        11.4  Melbourne Renegades  Perth Scorchers  JE Duffin     G Wareham     AL Edgar  0             0      NaN    NaN      NaN   NaN      NaN       caught      JE Duffin       NaN                NaN                      0.0
95093  1387212   2023/24  16-11-2023  North Sydney Oval, Sydney                            2        3.1   Sydney Sixers        Perth Scorchers  M Brown       EA Perry      AL Edgar  0             0      NaN    NaN      NaN   NaN      NaN       caught      M Brown         NaN                NaN                      0.0
95193  1387212   2023/24  16-11-2023  North Sydney Oval, Sydney                            2        19.3  Sydney Sixers        Perth Scorchers  K Peterson    L Cheatle     AL Edgar  0             0      NaN    NaN      NaN   NaN      NaN       caught      K Peterson      NaN                NaN                      0.0
95364  1387207   2023/24  12-11-2023  Junction Oval, Melbourne                             2        7.5   Sydney Thunder       Perth Scorchers  A Learoyd     P Litchfield  AL Edgar  0             1       1.0   NaN      NaN   NaN      NaN       stumped     A Learoyd       NaN                NaN                      0.0
95422  1387207   2023/24  12-11-2023  Junction Oval, Melbourne                             2        17.1  Sydney Thunder       Perth Scorchers  P Litchfield  SJ Johnson    AL Edgar  0             0      NaN    NaN      NaN   NaN      NaN       caught      P Litchfield    NaN                NaN                      0.0
95437  1387207   2023/24  12-11-2023  Junction Oval, Melbourne                             2        19.4  Sydney Thunder       Perth Scorchers  LG Smith      SJ Johnson    AL Edgar  0             0      NaN    NaN      NaN   NaN      NaN       caught      LG Smith        NaN                NaN                      0.0
97689  1387221   2023/24  22-11-2023  Western Australia Cricket Association Ground, Perth  1        17.4  Melbourne Stars      Perth Scorchers  A Sutherland  N Faltum      AL Edgar  0             0      NaN    NaN      NaN   NaN      NaN       caught      A Sutherland    NaN                NaN                      1.0

In [122]:
pp_batting.to_csv('pp_batting.csv')
top_pp_strikers.to_csv('top_pp_strikers.csv')
mid_batting.to_csv('mid_batting.csv')
all_mid_bat.to_csv('all_mid_bat.csv')
perth_mid_bat.to_csv('perth_mid_bat.csv')
surge_batting.to_csv('surge_batting.csv')
perth_surge_bat.to_csv('perth_surge_bat.csv')
surge_all_batters.to_csv('surge_all_batters.csv')
death_batting.to_csv('death_batting.csv')
perth_death_batting.to_csv('perth_death_batting.csv')
all_death_batting.to_csv('all_death_batting.csv')
all_bowlers.to_csv('all_bowlers.csv')
edgar_wickets.to_csv('edgar_wickets.csv')

In [126]:
a=df_s9.groupby(['batting_team'])['runs_off_bat','extras'].sum()

In [127]:
b=df_s9.groupby(['batting_team'])['ball','wides','noballs'].count()

In [128]:
c=a.merge(b,on='batting_team')

In [130]:
c['avg_run_rate']=(c['runs_off_bat']+c['extras'])/ (c['ball']-c['wides']-c['noballs']) *6

In [131]:
c

                     runs_off_bat  extras  ball  wides  noballs  avg_run_rate
batting_team
Adelaide Strikers    1481          71      1335  48     3        7.252336
Brisbane Heat        1986          96      1549  43     8        8.339119
Hobart Hurricanes    1273          89      1201  57     3        7.162138
Melbourne Renegades  1680          92      1495  46     10       7.388464
Melbourne Stars      1547          86      1459  38     7        6.929279
Perth Scorchers      1941          149     1548  60     5        8.455833
Sydney Sixers        1711          125     1596  60     7        7.204709
Sydney Thunder       1507          104     1283  42     3        7.807754